body{
    background-color: rgb(253, 240,233);
    /* background-image: url('image/Bitmap-1.png'); */
}
.header_container{
    font-family: 'Epilogue', sans-serif;
    min-height: 400px;
    width: auto;
    color: white;
    background-color:rgb(40,41,62);
}
.site_name {
    margin-top: 10px;
    padding: 7px 10px;
    font-weight: 700;
    font-size: 24px;
}
nav{
    display: flex;
    justify-content: space-around;
    padding: 15px;
    margin-bottom: 40px;
}
.nav-bar {
    
    
    padding: 25px  ;
    margin-bottom: 40px;

}
.nav-bar a {
    color: white;
    text-decoration: none;
    margin-right: 50px;
}
.Contact-button button {
    margin-top: 15px;
    padding: 7px 10px;
    border: 1px solid  gray;
    border-radius: 5px;
    background-color:rgb(40,41,62);
    color:white; 
    font-weight: 900;
    font-size: 14px;
}
.top-banner{
    /* text-align: center;
    justify-content: center; */
    /* padding: 70px 0; */
  
  text-align: center;
}
.top-banner h1{
    font-size: 72px;
     
    
}
.top-banner  p{
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
}
 /* main section start */
 .main_section{
     width: 80%;
     margin: auto;
 }
 .main_section .category{
     font-weight: 400;
     font-size: 20px;
 }

 .popular-service{
     display:grid;
     grid-template-columns: repeat(2,1fr);
     margin-top: 80px;
 }
 .popular-service-item{
     /* border: 1px solid black; */
     margin-right: 10px;
     padding: 5px;
 }
 .service-item{
     /* border: 1px solid black; */
     margin-right: 10px;
     padding: 5px;
     
 }
 

 .popular-service .image{
     margin-top: 50px;
     padding: 10px;
 }
 .popular-service .title{
     font-weight: 800;
     font-size: 40px;
 }
 .service  {
     display:grid;
     grid-template-columns: repeat(3,1fr);
 }
 .service .title {
    font-weight: 700;
    font-size: 24px;
 }
 .date{
     font-weight: 400;
     font-size: 16px;
 }
 .load-more-button{
     margin: 68px;
     
     text-align: center;
 }
 .load-more-button button{
     color: black;
     font-weight: 900;
     font-size: 14px;
     background-color: white;
     border: 1px solid gray;
     border-radius: 5px;
    padding: 10px 15px;
 }
 /* main section end */


/* subscription section start  */
.Newsletter-and-Subscribe{
    width: 80%;
    margin: auto;
   
}
.Newsletter-and-Subscribe div{
     
    display: flex;
    justify-content: space-between;
}
.Newsletter{
    color: rgb(57, 20, 0);
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
}
.email-section{
    margin-top:  40px; ;
}
.input{
    padding: 15px 100px;
    margin-right: 30px;
    border: 1px solid rgb(243, 209, 191);
    border-radius: 5px;
}
.subscribe-button{
    padding: 13px 50px;
    margin-right: 20px;
    font-weight: 900;
    font-size: 14px;
    border: 1px solid white;
    background-color: white;
    border-radius: 5px;
}

/* subscription section end  */


 /* <!-- bottom banner start --> */
 .bottom-banner{
    background-image: url('image/Rectangle.png');
    width: 80%;
    min-height: 544px;
    margin: auto;
    /* display: flex;
    justify-content: space-between; */
 }
 .bottom-banner .first-child{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    padding: 30px;
 }
 .bottom-banner-content h2 {
     font-weight: 800;
     font-size: 56px;
     color: white;
 }
 .bottom-banner-content p {
     font-weight: 400;
     font-size: 16px;
     color: white;
 }
 .bottom-banner-content button {
     padding: 10px 15px;
     color: rgb(57, 20, 0);
     background-color: white;
     font-weight: 900;
     font-size: 14px;
     border: 1px solid white;
     border-radius: 5px;
 }
 .bottom-banner-img{
    width: 246px;   
    height: 280px;
 }
 /* <!-- bottom banner end --> */


 /* footer start  */
 .footer{
     width: 80%;
     margin: auto;
 }
 .footer-agency{
    font-weight: 700;
    font-size: 24px;
   margin-top:none;
 }
 .footer-item{
    display: flex;
    justify-content:space-between;
 }
  

 .container h5{
     font-weight: 400;
     font-size: 16px;
     margin-top: 32px;
     color: rgb(239, 109, 88);
 }
 .container p a{
     color: rgb(57, 20, 0);
     text-decoration: none;
 }

.social-icons a  {
    width: 48px;
    height: 48px;
    background-color:rgb(239, 109, 88);
    border: 1px solid rgb(239, 109, 88);
    border-radius: 50%;
}
.social-icons a img{
     color:rgb(239, 109, 88);
    /* border: 1px solid rgb(239, 109, 88);
    border-radius: 50%; */
}



 .copy-right-section{
    display: flex;
    justify-content:space-between;
     /* display: grid;
     grid-template-columns: repeat(2, 1fr); */
 }
 .terms-and-condition{
     display: grid;
     grid-template-columns: repeat(2, 1fr);
 }
 /* footer end  */